<%- include("components/shared/header"); %>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Rose Haven Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Rose Haven LLC is a dedicated home health care agency committed to delivering affordable and convenient
            health
            care services tailored to meet the diverse needs of our clients. Our mission is to provide compassionate,
            high-quality care that respects and honors the cultural backgrounds of those we serve. We believe in
            creating
            a comfortable and supportive environment that promotes independence, dignity, and overall well-being. At
            Rose
            Haven, we are more than caregivers; we are partners in health, working hand in hand with families and
            healthcare professionals to ensure the best possible outcomes for our clients.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <img src="/assets/img/about.jpg" class="img-fluid" alt="About Rose Haven">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>At Rose Haven, we are driven by a clear set of guiding principles that shape everything we do:</p>
            <ul>
              <li><i class="ri-check-double-line"></i> Our mission is to offer compassionate, affordable, and convenient
                home health care services.</li>
              <li><i class="ri-check-double-line"></i> We envision a world where every individual receives the care they
                need, regardless of their cultural background.</li>
              <li><i class="ri-check-double-line"></i> Our values include respect, integrity, and a deep commitment to
                our
                clients' well-being.</li>
            </ul>
            <p>These principles are at the heart of our commitment to providing exceptional care that respects and
              honors
              the unique needs of each individual we serve.</p>
            <a href="/our-story" class="btn-learn-more">Learn More</a>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-heart"></i></div>
            <h4 class="title"><a href="/">Compassionate Care</a></h4>
            <p class="description">We provide compassionate care to ensure our clients' well-being and comfort at all
              times.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-people"></i></div>
            <h4 class="title"><a href="/">Diverse Services</a></h4>
            <p class="description">Our services are diverse, catering to the unique needs of individuals from various
              cultural backgrounds.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-shield-check"></i></div>
            <h4 class="title"><a href="/">Supportive Environment</a></h4>
            <p class="description">We create a supportive environment that promotes independence and dignity for our
              clients.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-award"></i></div>
            <h4 class="title"><a href="/">Quality Care</a></h4>
            <p class="description">Our commitment to quality care ensures that every client receives the best possible
              service.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-person"></i></div>
            <h4 class="title"><a href="/">Client-Centered Approach</a></h4>
            <p class="description">We adopt a client-centered approach, focusing on individual needs and preferences to
              deliver personalized care.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="/">Professional Staff</a></h4>
            <p class="description">Our professional staff are dedicated to upholding our values of respect, integrity,
              and excellence in care.</p>
          </div>
        </div>

      </div>
    </section>


    <!-- ======= Recent Photos Section ======= -->
    <section id="recent-photos" class="recent-photos">
      <div class="container">

        <div class="section-title">
          <h2>Recent Photos</h2>
          <p>Explore moments captured at Rose Haven, showcasing our dedication to providing compassionate care and
            creating
            supportive environments.</p>
        </div>

        <div class="recent-photos-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-1.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-2.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-2.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-3.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-3.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-4.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-5.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-5.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-6.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-6.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-7.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-7.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/assets/img/recent-photos/recent-photos-8.jpg" class="glightbox">
                <img src="/assets/img/recent-photos/recent-photos-8.jpg" class="img-fluid" alt="">
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
  </main>


  <%- include("components/shared/footer"); %>