
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <a href="/" class="footer-logo">
        <img src="assets/img/site_logo.png" alt="" class="img-fluid">
      </a>
      <p>Compassionate, personalized home health care services to enhance independence and quality of life. Trust us for skilled nursing, personal care, therapy, and companionship in the comfort of your home.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>RoseHaven</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        Developed by <a href="https://visoroy.com/">Visoroy Innovations</a>
      </div>
    </div>
  </footer>
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
  
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  
  </body>
  
  </html>